/*
    OBS Social Plugin
    © 2017 zekro Development
*/


@import 'https://fonts.googleapis.com/css?family=Montserrat:400,300';


:root {
    /*
        This is the time delay after the info cards will shuffle again
        (in seconds, without the time when they will be shown)
    */
    --delay: 300;

    /*
        This is the duration how long each card will be shown.
        Dont forget to change keyframe percentages of "fade" if
        you change the display time.
    */
    --duration: 12s;
}


@keyframes fade {
    0%, 100%    {opacity: 0; top: 100px;}
    10%, 90%    {opacity: 1; top:   0px;}
}


.container {
    animation-duration: var(--duration);
    animation-timing-function: ease;

    position: fixed;
    top: 100px;
    opacity: 0;
    margin: 41px 41px;
    width: 400px;
    height: 100px;
    background-color: #e6e6e6;
    border-radius: 10px;
    box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.26);
}

.underline {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10px;
    background: red;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.icon {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 70px;
    height: 70px;
}

.title {
    position: absolute;
    top: -6px;
    left: 105px;

    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.content {
    position: absolute;
    top: 35px;
    left: 105px;

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
}
